<div class="field-type">
  <div class="row">
    <div class="col-md-3">
      <span class="field-label">Code</span>
    </div>
    <div class="col-md-3">
      <input name="fieldCodeType" ng-model="field.codeType"  ng-value="'javascript'" class="hidden" type="text"  />
      <!--<select class="form-control" name="fieldCodeType" ng-model="field.codeType">-->
        <!--<option value="javascript">Javascript</option>-->
        <!--<option value="css">Css</option>-->
      <!--</select>-->
    </div>
    <div class="col-md-6">
      <div class="pull-right field-controls">
        <button class="btn btn-default" ng-click="removeField(field, $index)"><span class="fa fa-times"></span></button>
        <button class="btn btn-default" ng-disabled="$first" ng-click="orderUp(field)"><span class="fa fa-arrow-up"></span></button>
        <button class="btn btn-default" ng-disabled="$last" ng-click="orderDown(field)"><span class="fa fa-arrow-down"></span></button>
      </div>
    </div>
  </div>
</div>
<div class="view-code-container" ng-class="{'code-mirror-large': field.expand}">
  <div class="view-code-tools">
    <span class="copy-btn" ng-click="field.expand = !field.expand"><span class="fa fa-expand"></span>&nbsp;&nbsp;Expand</span>
    <span class="copy-btn" clip-copy="field.value"><span class="fa fa-copy"></span>&nbsp;&nbsp;Copy</span>
  </div>
  <textarea ui-codemirror ui-codemirror-opts="editorOptions" name="postCode"ng-model="field.value" ></textarea>

</div>
