


<div class="new-post-container">
  <div class="post-title">{{post.title}} <a href="#/create-post/{{post._id}}"><span class="edit-btn pull-right"><span class="fa fa-pencil"></span> Edit</span></a></div>
  <div ng-repeat="field in post.fields | orderBy:'displayOrder'">
    <div class="post-header" ng-if="field.type == 'header'">
      {{field.value}}
    </div>
    <div class="post-text" ng-if="field.type == 'text'">
      {{field.value}}
    </div>
    <div ng-if="field.type == 'code'" class="code">
      <div class="view-code-container">
        <div class="view-code-tools">
          <span class="copy-btn" ng-click="field.expand = !field.expand"><span class="fa fa-expand"></span>&nbsp;&nbsp;Expand</span>
          <span class="copy-btn" clip-copy="field.value"><span class="fa fa-copy"></span>&nbsp;&nbsp;Copy</span>
        </div>
        <div ui-codemirror ui-codemirror-opts="editorOptions" ng-class="{'code-mirror-large': field.expand}" ng-model="field.value"></div>
      </div>

    </div>
  </div>

  <div class="resource-header" ng-show="post.resources.length > 0">Resources</div>
  <div class="post-resource" ng-repeat="r in post.resources" >
    <a href="{{r.href}}" target="_blank">{{r.displayValue}}</a>
  </div>
  <div class="post-header">Comments</div>
  <div class="post-text">
    <div ng-repeat="c in post.comments">
      <div class="comment-header">
        <span class="text-left">{{c.username}}</span>
        <span class="pull-right">{{c.dateCreated | date:'MM-dd-yyyy'}}</span>
      </div>
      <div class="comment-body">
        {{c.value}}
      </div>
    </div>
  </div>
  <div class="post-text">
    <textarea class="comment-input" ng-model="comment"></textarea>
  </div>
  <div class="post-text">
    <button class="comment-btn" ng-click="postComment(comment)">Post</button>
  </div>
</div>