
.post-view {
  width: 100%;
  border: none;
}

.post-title {
  padding: 20px;
  font-size: @font-size-title;
  .post-view;
  border-bottom: 1px solid @border-light;
}

.post-text {
  padding: 20px;
  font-size: @font-size-text;
  .post-view;
}

.post-header {
  padding: 20px;
  font-size: @font-size-header;
  .post-view;
}

.post-resource {
  padding: 20px;
  font-size: @font-size-text;
  .post-view;
}

.resource-header {
  font-size: @font-size-header;
  padding: 20px;
}

.code {
  pre {
    background-color: white;
    border:none;
  }
}


.comment-input {
  height: 150px;
  padding: 20px;
  font-size: @font-size-text;
  .post-input;
  border: 2px solid @border-light;
}

.comment-header {
  background-color: rgba(90, 100, 148, 0.05);
  padding: 10px;
  border-radius: 8px 8px 0 0;
  color: @theme-grey;
  font-weight: bold;
}

.comment-body {
  background-color: rgba(90, 100, 148, 0.05);
  padding: 5px 20px 10px 20px;
}

.code-mirror-large {
  .CodeMirror {
    height: 600px !important;
    .CodeMirror-gutters {
      height: 600px !important;
    }
  }
}

.view-code-container {
  position: relative;
}

.view-code-tools {
  position: absolute;
  top:15px;
  right: 20px;
  z-index: 20;
}