
<div>
  <input type="text" name="search" ng-model="search" class="search-input" placeholder="Enter search terms" ng-enter="pushToStoredTags(search)"/>
</div>

<div class="store-tag-container">
  <span class="store-tag" ng-repeat="s in storedTags">{{s}}&nbsp;&nbsp;&nbsp;<span class="fa fa-remove" ng-click="removeTag($index)"></span></span>
</div>

<div ng-repeat="post in posts | searchTags:search:storedTags">
  <a href="#/posts/{{post._id}}">
    <div class="post-container">

      <div class="row">
        <div class="col-lg-2">
          <!--<span ng-repeat="t in post.title track by $index">{{t}}</span>-->
          <span ng-bind-html="formatPostTitle(post.title, search)"></span>
        </div>
        <div class="col-lg-2">
          {{post.lastUpdated | date:'MM-dd-yyyy'}}
        </div>
        <!--<div class="col-lg-3">-->
          <!--<span ng-repeat="field in post.fields">-->
            <!--<span ng-if="post.type == 'header' && $first">{{field.value}}</span>-->
          <!--</span>-->
        <!--</div>-->
        <div class="col-lg-8">
          <div class="selected-tag-container">
            <div class="pull-right">
              <div class="selected-tag" ng-repeat="tag in post.tags" ng-class="isTagActive(tag, search)">{{tag}}</div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </a>
</div>