
<div>
  <input type="text" name="search" ng-model="search" class="search-input" placeholder="Enter search terms"/>
</div>

<div ng-repeat="post in posts | searchTags:search">
  <a href="#/posts/{{post._id}}">
    <div class="post-container">

      <div class="row">
        <div class="col-lg-2">
          {{post.title}}
        </div>
        <div class="col-lg-2">
          {{post.dateCreated | date:'MM-dd-yyyy'}}
        </div>
        <!--<div class="col-lg-3">-->
          <!--<span ng-repeat="field in post.fields">-->
            <!--<span ng-if="post.type == 'header' && $first">{{field.value}}</span>-->
          <!--</span>-->
        <!--</div>-->
        <div class="col-lg-8">
          <div class="selected-tag-container">
            <div class="pull-right">
              <div class="selected-tag" ng-repeat="tag in post.tags">{{tag}}</div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </a>
</div>