
.btn-temp {
  padding: 8px 10px;
  font-size: @font-size-text;
  border: none;

}

.edit-btn {
  .btn-temp;
  background-color: @main-med;
  color:white;
}

.edit-btn:hover {
  background-color: @main-dark;
}

.copy-btn {
  .btn-temp;
  background-color: @theme-grey;
  color: white;
}

.copy-btn:hover {
  background-color: #818181 !important;
  cursor: pointer;
}

.zeroclipboard-is-hover {
  background-color: #818181 !important;

}

.comment-btn {
  .btn-temp;
  background-color: @main-dark;
  color:white;

}
