@import 'inputs';
@import 'buttons';
@import '../ujs-app/routes/view-post/view-post';
@import '../ujs-app/routes/create-post/create-post';
@import '../login-app/login';

@main-dark: #261954;
@main-med: #5A6494;
@border-light: #E7E7E7;
@border-med: #CCCCCC;


@tag-blue: rgba(89, 156, 245, 0.61);
@theme-light-blue: rgba(208, 215, 250, 0.2);

@theme-blue: rgb(89, 156, 245);
@theme-green: rgb(84, 181, 84);
@theme-grey: #B8B8B8;

@font-size-header: 18px;
@font-size-title: 30px;
@font-size-text: 14px;


.font-header {
  font-size: @font-size-header;
}

.font-text {
  font-size: @font-size-text;
}

.font-title {
  font-size: @font-size-title;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
}

.container {
  width: 80%;
  margin: 0 10%;
  padding: 0;
}

.header-main {
  width: 100%;
  background-color: @main-dark;
//  background-color: rgb(77, 77, 210);
  h1 {
    margin: 0;
    padding: 20px 0;
    color: white;
  }
}

.header-nav {
  width: 100%;
  background-color: @main-med;
  color: white;
  font-size: @font-size-text;
}

.nav-item {
  color: white;
  float: left;
//  border-left: 1px solid @border-med;
  border-right: 1px solid @border-med;
  padding: 10px;
}

.logout {
  float: right;
  border: none;
}

.new-post-container {
  background-color: white;
  border: 1px solid @border-med;
//  padding: 40px;
  h2 {
    margin:0;
  }
}





.tag-result {
  float:left;
  width: 100%;
  padding: 8px;
  color: @theme-blue;
}

.tag-result:hover {
  background-color: @theme-blue;
  color: white;
}

.tag-results-container {
  width: 150px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  z-index: 5;
  border: 1px solid @border-med;
  background-color: white;
  position: absolute;
}

.selected-tag-container {
  width: 100%;
  background-color: white;
}

.selected-tag {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 8px;
  background-color: @tag-blue;
  float:left;
  color: white;
}

.field-label {
  padding: 10px 15px;
  width:100px;
  background-color: @main-med;
  float:left;
  color: white;
}

.field-controls {
  padding: 5px 15px;
}



.field-type {
  padding: 0;
  background-color: rgba(194, 194, 194, 0.31);
}

.post-container {
  width: 100%;
  margin: 0px 0;
  padding: 20px;
//  border-radius: 10px;
  background-color: white;
  border-bottom: 1px solid @border-light;
}

.post-container:hover {
  background-color: @border-light;
}

footer {
  height: 400px;
}

.remove-resource {
  position: relative;
  .btn {
    position: absolute;
    right: 10px;
    margin-top: 5px;
  }
}

.bg-theme-blue {
  background-color: @theme-blue;
  color: white;
}

.theme-blue {
  color: @theme-blue;
}


//rgba(89, 156, 245, 0.61)
.code-mirror-large {
  .CodeMirror {
    height: 600px !important;
    .CodeMirror-gutters {
      height: 600px !important;
    }
  }
}

.store-tag-container {
  width: 100%;
  float:left;
  background-color: @theme-light-blue;
  border-bottom: 1px solid #e7e7e7;
  .store-tag {
    background-color: #599cf5;
    color: white;
    margin: 5px 5px 5px 0;
    padding: 10px;
    float:left;
  }
}

.active-tag {
  background-color: @theme-blue;
}

.active-character {
  background-color: #ffff00;
}